h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
    text-align: center;
    font-family: Georgia, serif;
}

.firsticon {
    width: 25px;
    height: 25px;
}

.header-menu {
    text-align: center;
    margin: 20px;

}

/* アイコンサイズ変更 */
.icons {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

/* トグルメニュー */
/* .toggle-menu dt {
    margin: 0 auto;
    width: 80px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }
  
  .toggle-menu > dd {
    display: none;
    margin: 0 auto;
    box-sizing: border-box;
    width: 80px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }
  
  .toggle-menu dd + dd {
    border-top: none;
  } */

/* ここまで */

.content {
    width: 350px;
    margin-left: 15px;
}

.wrap {
    display: flex;
    overflow: hidden;
}

.slideshow {
    display: flex;
    animation: loop-slide 20s infinite linear 1s both;
}

@keyframes loop-slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.slide-paused:hover .slideshow {
    animation-play-state: paused;
}

/* 参考　https://pengi-n.co.jp/blog/horizontal-slideshow/ */

/* MENU */
.tab-list {
    justify-content: center;

}

/* contents */

.main-contents {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.left-menu {
    width: 60%;
    height: 700px;
}

.right-menu {
    background-color: lightcyan;
    width: 35%;
    height: 700px;
}

/* left-content */
.tab-list {
    display: flex;
}

.tab-list li {
    /* border-top-right-radius: 5px;
    border-top-left-radius: 5px; */
    margin-left: 5px;
}

.tab-list li:hover {
    opacity: 0.7;
    cursor: pointer;
}

.container {
    width: 100%;
    height: 600px;
    position: relative;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
}

.box::after {
    /* content: 'コンテンツ内容'; */
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#box1 {
    content: 'box1';
    color: black;
}

#box2 {
    border: solid black 1px;
}

#box3 {
    border: solid black 1px;

}

#box4 {
    border: solid black 1px;

}

.current {
    z-index: 1;
    opacity: 1;
    border: solid black 1px;
}


/* Q&A */

.qa {
    margin: 20px;
}

.question,
.answer {
    padding: 10px;
    background-color: lightblue;
    /* border: solid 1px; */
}

.question {
    position: relative;
    cursor: pointer;
}

.question::after,
.question::before {
    content: '';
    display: block;
    position: absolute;
}

.question::after {
    width: 20px;
    height: 2px;
    right: 10px;
    top: 50%;
}

.question::before {
    width: 2px;
    height: 20px;
    right: 19px;
    top: 30%;
}

.question.on::before {
    display: none;
}

.answer {
    display: none;
    background-color: white;
}


/* footer */

footer {
    background-color: lightblue;
    height: 30px;
    text-align: center;
}