body {
    font-family: '游明朝体', 'ヒラギノ明朝 Pro W3,Hiragino Mincho Pro';
    /* background-image: url(./pic/IMG_0257.JPG); */
    background-attachment: fixed;
}

header {
    background-image: url(./pic/IMG_0257.JPG);
    margin-top: 20px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    /* margin: 30px; */
    text-align: center;
    font-family: Georgia, serif;
}

.firsticon {
    width: 25px;
    height: 25px;
}

.header-menu {
    text-align: center;
    margin: 20px;

}

/* アイコンサイズ変更 */
.icons {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.content {
    width: 368px;
    margin-left: 15px;
    height: 195.26px;

}

.wrap {
    display: flex;
    overflow: hidden;
}

.slideshow {
    display: flex;
    animation: loop-slide 20s infinite linear 1s both;
}

@keyframes loop-slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.slide-paused:hover .slideshow {
    animation-play-state: paused;
}

/* 参考　https://pengi-n.co.jp/blog/horizontal-slideshow/ */

.content-hover {
    border: 1px solid #ddd;
    margin: 20px auto 0;
    transition-duration: 0.5s;
}

.content-hover img {
    width: 100%;
}

.content-hover:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;
}

/* contents */

.main-contents {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.left-menu {
    width: 60%;
    height: 700px;
}

/* right-menuの装飾 */
.right-menu {
    /* background-color: lightgray; */
    width: 35%;
    height: 700px;
}

h2 {
    font-size: 20px;
}

/* .tab-list{
    display: flex;
  }
  
  .tab-list li{
    padding: 10px;
    background-color: rgb(235, 223, 186);
    border: solid 1px #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .tab-list li:hover{
    opacity: 0.7;
    cursor: pointer;
  }
  
  .container{
    position: relative;
  }
  
  .box{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
  }

   .access {
    width: 400px;
    height: 300px;
   }
  
  .current{
    z-index: 1;
    opacity: 1;
  } */


/* left-content */
.tab-list {
    display: flex;
    padding: 5px;
    justify-content: space-around;
    margin: auto 25%;
}

.tab-list li {
    /* border-top-right-radius: 5px;
    border-top-left-radius: 5px; */
    margin-left: 5px;
}

.tab-list li:hover {
    opacity: 0.7;
    cursor: pointer;
}

.container {
    width: 100%;
    height: 700px;
    position: relative;
    text-align: center;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
}

.box::after {
    /* content: 'コンテンツ内容'; */
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#box1 {
    /* home */
    content: 'box1';

}

/* ニュース */
.news-list {
    list-style: none outside;
    margin: 0;
    padding: 0;
}

.news-list .item a {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 20px 20px;
}

.news-list .item:first-child a {
    border-top: 1px solid #CCC;
}

.news-list .item .date {
    margin: 0;
    min-width: 140px;
    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;
}

.news-list .item .category {
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
}

.news-list .item .category span {
    background: #999;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1;
}

.news-list .item .title {
    margin: 0;
    width: 100%;
}

.news-list .item a:hover .title {
    color: rgb(235, 223, 186);
}



/* 装飾 */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.title1 {
    font-family: cursive;
    font-size: 30px;
    font-style: italic;
}



#box2 {
    /* about */

}

.c-marker {
    /* font-family: cursive; */
    font-size: 30px;
    font-style: italic;
}

/*　マーカー */
.c-marker {
    background: -webkit-linear-gradient(left, rgb(235, 223, 186) 50%, transparent 50%);
    background: -moz-linear-gradient(left, rgb(235, 223, 186) 50%, transparent 50%);
    background: linear-gradient(left, rgb(235, 223, 186) 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 200% .8em;
    background-position: 100% .5em;
    transition: 2s;
}

.c-marker.is-active {
    background-position: 0% .5em;
}

/* ここまで */

.anivpic {
    width: 80%;
    height: 50%;
}

#box3 {
    /* room */
    overflow: auto;
}

.roomname {
    font-size: 25px;
    font-style: italic;
}


/* クラブスイートスライダー */
.slide-container {
    display: flex;
    width: 480px;
    height: 320px;
    transition: all 1s ease;
}

.container-wrap {
    width: 480px;
    height: 320px;
    overflow-x: hidden;
    position: relative;
}

.left-arrow,
.right-arrow {
    cursor: pointer;
}

.left-arrow {
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 30px;
    transform: rotate(128deg);
}

.right-arrow {
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: rotate(-45deg);
    z-index: 1;
}

.slide {
    min-width: 100%;
    text-align: center;
    /* font-size: 40px;
    padding-top: 300px; */
}

.slide:nth-child(1) {
    background-image: url(./pic/clubsuite/2022_bs_480_320_01.jpg);
}

.slide:nth-child(2) {
    background-image: url(./pic/clubsuite/2022_bs_480_320_02.jpg);
}

.slide:nth-child(3) {
    background-image: url(./pic/clubsuite/2022_bs_480_320_03.jpg);
}

.slide:nth-child(4) {
    background-image: url(./pic/clubsuite/2022_bs_480_320_04.jpg);
}

.slide:nth-child(5) {
    background-image: url(./pic/clubsuite/2022_bs_480_320_05.jpg);
}

/* terrace suite slider */


/* クラブスイートスライダー */
.slide-container1 {
    display: flex;
    width: 480px;
    height: 320px;
    transition: all 1s ease;
}

.container-wrap1 {
    width: 480px;
    height: 320px;
    overflow-x: hidden;
    position: relative;
}

.left-arrow1,
.right-arrow1 {
    cursor: pointer;
}

.left-arrow1 {
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 30px;
    transform: rotate(128deg);
}

.right-arrow1 {
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: rotate(-45deg);
    z-index: 1;
}

.slide1 {
    min-width: 100%;
    text-align: center;
    /* font-size: 40px;
    padding-top: 300px; */
}

.slide1:nth-child(1) {
    background-image: url(./pic/terracesuite/b_sa_livingroom_480_320_01.jpg);
}

.slide1:nth-child(2) {
    background-image: url(./pic/terracesuite/b_sa_livingroom_480_320_02.jpg);
}

.slide1:nth-child(3) {
    background-image: url(./pic/terracesuite/b_sa_livingroom_480_320_03.jpg);
}

.slide1:nth-child(4) {
    background-image: url(./pic/terracesuite/b_sa_livingroom_480_320_04.jpg);
}

.slide1:nth-child(5) {
    background-image: url(./pic/terracesuite/b_sa_bathroom_480_320_01.jpg);
}

/* デラックスメゾネット オーシャンフロント */
.slide-container2 {
    display: flex;
    width: 480px;
    height: 320px;
    transition: all 1s ease;
}

.container-wrap2 {
    width: 480px;
    height: 320px;
    overflow-x: hidden;
    position: relative;
}

.left-arrow2,
.right-arrow2 {
    cursor: pointer;
}

.left-arrow2 {
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 30px;
    transform: rotate(128deg);
}

.right-arrow2 {
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: rotate(-45deg);
    z-index: 1;
}

.slide2 {
    min-width: 100%;
    text-align: center;
    /* font-size: 40px;
    padding-top: 300px; */
}

.slide2:nth-child(1) {
    background-image: url(./pic/delaxMezonetNatureoceanfront/2022_mgmo_480_320_01.jpg);
}

.slide2:nth-child(2) {
    background-image: url(./pic/delaxMezonetNatureoceanfront/2022_mgmo_480_320_02.jpg);
}

.slide22:nth-child(3) {
    background-image: url(./pic/delaxMezonetNatureoceanfront/2022_mgmo_480_320_06.jpg);
}

.slide2:nth-child(4) {
    background-image: url(./pic/delaxMezonetNatureoceanfront/2022_mgmo_480_320_07.jpg);
}

.slide2:nth-child(5) {
    background-image: url(./pic/delaxMezonetNatureoceanfront/2022_mgmo_480_320_08.jpg);
}

#box4 {
    /* contact */
}

.form {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

input {
    border: 1px solid black;
    margin: 6px;
    border-radius: 6px;
}

.form3 {
    width: 280px;
    height: 150px;
    border: solid 1px;
}

.dropdown {
    border: 1px solid black;
    margin: 6px;
}

.text,
textarea,
.dropdown {
    border: 0px;
    padding: 8px;
    border: 1px solid;
    /* color: #000;
    background: #F5F5F5; */
    border-radius: 6px;
    /* -webkit-box-shadow: 2px 3px 2px #000;
    -moz-box-shadow: 2px 3px 2px #000; */
}

.pochi {
    width: 50px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}



/* contact　ここまで */

.current {
    z-index: 1;
    opacity: 1;
    /* border: solid black 1px; */
}


/* Q&A */



.qa {
    margin: 20px;
}

.qatext {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

.question,
.answer {
    padding: 10px;
    background-color: rgb(240, 212, 160);
    /* border: solid 1px; */
}

.question {
    position: relative;
    cursor: pointer;
}

.question::after,
.question::before {
    content: '';
    display: block;
    position: absolute;
}

.question::after {
    width: 20px;
    height: 2px;
    right: 10px;
    top: 50%;
}

.question::before {
    width: 2px;
    height: 20px;
    right: 19px;
    top: 30%;
}

.question.on::before {
    display: none;
}

.answer {
    display: none;
    background-color: white;
}




/* footer */

footer {
    background-image: url(./pic/IMG_0257.JPG);
    height: 30px;
    text-align: center;
}

/* レスポンシブ対応 */

@media screen and (max-width: 767px) {


    ul {
        /* font-size: 10px; */
    }

    /* header */

    .tab-list {
        display: none;
    }

    .main-contents {
        margin: 0;
    }

    .header {
        margin-top: 0%;
    }

    /* hamburger menu */
    #hamburger {
        position: relative;
        display: block;
        width: 30px;
        height: 25px;
        margin: 0 0 0 auto;
    }

    #hamburger span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: black;
        transform: translateY(-50%);
    }

    #hamburger::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: black;
    }

    #hamburger::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: black;
    }

    .toggle {
        transform: translateY( 0 );
        opacity: 1;
     }

    /* スマホ用メニュー項目 */
    .sp-nav {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: block;
        width: 100%;
        background: rgba(0, 0, 0, .8);
        transition: all .2s ease-in-out;
    }

    .sp-nav ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
     }
     .sp-nav li {
        margin: 0;
        padding: 0;
     }
     .sp-nav li span {
        font-size: 15px;
        color: #fff;
     }
     .sp-nav li a, .sp-nav li span {
        display: block;
        padding: 20px 0;
     }

     /* バツ表示装飾 */
     /*基準となるli要素*/
.sp-nav .close {
    position: relative;
    padding-left: 20px;
 }
 /*バツ印線1*/
 .sp-nav .close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate( 45deg );
 }
 /*バツ印線2*/
 .sp-nav .close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate( -45deg );
 }

    .icons {
        width: 20px;
        height: 20px;
    }

    .main-contents {
        flex-direction: column;
        align-items: center;
    }

    /* #home1 */
    .news-list .item a {
        flex-wrap: wrap;
    }

    .news-list .item .date {
        min-width: 100px;
    }

    .news-list .item .title {
        margin-top: 10px;
    }

    /* footer */
    small {
        font-size: 5px;
    }
}